.team-datatable {
  width: 91.74%;
  // position: absolute;
  // left: 250px;
  box-shadow: -8px 3px 25px 1px rgb(210, 209, 209);
  margin: 20px auto;
  .id {
    width: 1px;
  }
  .name {
    // width: 10px;
    overflow: hidden;
  }
  .team-datatable-name {
    position: relative;
    .team-datatable-name-text {
      display: inline;
      position: absolute;
      left: 60px;
      top: 0px;
      p {
        margin: 0;
      }
      .team-datatable-name-email {
        margin-top: 10px;
        color: gray;
        // overflow: hidden;
      }
    }
  }
  .team-datatable-icon {
    div {
      margin-top: 5px;
      p {
        display: inline;
        margin-left: 5px;
      }
    }
  }
}
